trash/
build-src-Desktop_Qt_5_12_2_GCC_64bit-Debug/
build-src-Desktop_Qt_5_12_2_GCC_64bit-Release-with-Debug-Information/
paper/*.pdf
paper/tz/*.pdf
seirwork/mzcr.ods
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

*.xlsx#
*.lyx~

trash/


